@import "~bootstrap/scss/bootstrap";
@import "./_globleStyle.scss";

.login-popup {
    position: absolute;
    top: 4%;
    left: 33%;
    max-width: 550px;
    min-width: 550px;
    background-color: $white;
    border-radius: $borderRadius;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: $spacing * 4;

    .title-group {
        width: 100%;
        margin-bottom: $spacing * 2;
        .main-title {
            span {
                font-size: $fontSize24;
                color: $black1;
                font-weight: $fontWeightMedium;
            }
            margin-bottom: $spacing;
        }
        .sub-title {
            span {
                font-size: $fontSize18;
                color: $gray;
                font-weight: $fontWeightLight;
            }
        }
    }
    .form-login {
        width: 100%;
        .wrap-input {
            display: flex;
            flex-direction: column;
            margin-bottom: $spacing;
            label {
                margin-bottom: $spacing;
                font-size: $fontSize18;
                color: $black1;
                font-weight: $fontWeightLight;
            }
            input {
                background-color: $d9d9d9;
                width: 100%;
                height: $spacing * 6;
                box-sizing: border-box;
                padding: $spacing $spacing * 2;
                font-size: $fontSize14;
                color: $black1;
                font-weight: $fontWeightLight;
                outline: none;
                border-radius: $borderRadius;
                border: none;
            }
            .wrap-error {
                display: flex;
                transition: all ease 0.4s;
                flex-direction: row;
                margin-top: $spacing * 0.2;
                .error-mes {
                    font-size: $fontSize14;
                    color: $redee5254;
                    font-weight: $fontWeightLight;
                }
            }
        }
        .wrap-checkbox {
            width: 100%;
            margin: $spacing * 2 0;
            input {
                font-size: $fontSize18;
                cursor: pointer;
                margin-right: $spacing;
            }
            label {
                margin-bottom: $spacing;
                font-size: $fontSize18;
                color: $black1;
                font-weight: $fontWeightLight;
            }
        }
        .submit-btn {
            width: 100%;
            height: $spacing * 6;
            font-size: $fontSize20;
            color: $white;
            font-weight: $fontWeightMedium;
            background-color: $redSuccess;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border-radius: $borderRadius;
            border: none;
            transition: all ease 0.5s;
            &:hover {
                background-color: $redSuccessHover;
            }
        }
    }
    .or {
        margin: $spacing;
        font-size: $fontSize18;
        color: $gray;
        font-weight: $fontWeightLight;
    }
    .other {
        margin-top: $spacing;
        display: flex;
        flex-direction: column;
        align-items: center;
        .link-register {
            text-decoration: none;
            margin: $spacing;
            font-size: $fontSize14;
            color: $gray;
            font-weight: $fontWeightLight;
            cursor: pointer;
            transition: all ease 0.4s;
            &:hover {
                color: $redSuccessHover;
            }
        }
    }
}
