// define color
$blue1: #0079bf;
$blue2: #319bd8;
$blue3: #49aee9;
$blue4: #6ec3f5;
$black1: #222222;
$white: #ffffff;
$white1: #f0f0f0;
$gray: #888888;

// define font
$fontFamily: "Roboto", sans-serif;
$fontSize14: 14px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize24: 24px;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$lineHeight36: 36px;

// define scale
$spacing: 8px;
$borderRadius: 8px;