// define color
$blue1: #0079bf;
$blue2: #319bd8;
$blue3: #49aee9;
$blue4: #6ec3f5;
$black1: #222222;
$white: #ffffff;
$white1: #f0f0f0;
$whitefefefe: #cecece;
$d9d9d9: #cecccc;
$gray: #888888;
$redee5254: #ee5253;
$greenSuccess: #94b49f;
$greenSuccessHover: #54BAB9;
$redSuccess: #FA9191;
$redSuccessHover: #EB6383;
$blue11324D: #11324D;
$pinkD291BC: #D291BC;
$violet957DAD: #957DAD;

// define color rgba
$rgba03: rgba(0, 0, 0, 0.3); 
$rgba02: rgba(0, 0, 0, 0.2); 
$rgba01: rgba(0, 0, 0, 0.1); 

// define font
$fontFamily: "Roboto", sans-serif;
$fontSize14: 14px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize24: 24px;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$lineHeight36: 36px;

// define scale
$spacing: 8px;
$borderRadius: 8px;

// define transition
$transition02: all 0.2s ease;

// define box-shadow
$boxShadowStyle1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$boxShadowStyle3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
